body{
margin: 0;
}
table {
  
  background-color:#000000;
    border: 2px solid #000000;
    width:100%;
    height:auto;

    max-width: 400px;
    max-height: 350px;
    margin-left: 0px;
}

.about table{
  order:2;
}
.about form{
  order:1;
}
.about  img{
  max-width: 90%;
  height: auto;
}
.ch {
  background-color:#C9E39E;
}
.nch {
  background-color:#DB9EE3;
}
.container{
  max-width: 960px;
  margin: 0 auto;
}
header{
max-height: 150px;
background-color:#EAAF9F;
width: 100vw;
}
header::after{
  content: "";
  clear: both;
  display: block;
}
.descript{
font-size: 3vw;
color: #CA1B1B;
float: left;
top: 0;
}
.logotip{
  float: left; 
  top: 0;
  margin: auto;
}
.logotip img{
  max-width:10vw;
  max-height:16vh;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
background-color:#F7B4B2;
max-width: 960px;
text-align: center;
margin: 0 auto;
}
nav a{
  text-decoration: none;
  display:block;
  font-size: 1rem;
}
nav a:hover{
  background:rgba(0,0,0, .2) ;
}

.footer {
     background-color: #EAAF9F;
     max-height: 70px;
    font-size: 1rem;
}
.about{
  display: flex;
  flex-direction: column;
  
background-color: #F5E1C0;
max-width: 960px;
margin: 0 auto;
}
@media only screen and (min-width:780px) and (orientation:landscape){
  nav{
    flex-direction: row;
    justify-content: space-around;

  }
  nav a{
    align-items: center;
    text-align: center;
    font-size:1.5rem;

  }
  .about table{
    order: 1;
  }
  .about form{
    order: 2;
  }
}

